<!-- jQuery -->
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<!-- jQuery UI -->
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.4.5/i18n/jquery-ui-timepicker-pt-BR.js"></script>
<!-- jQuery Confirm -->
<script src="{{ url }}/js/jquery.confirm.min.js"></script>
<!-- BootStrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- MetisMenu -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.0.2/metisMenu.min.js"></script>
<!-- InputMask -->
<script src="{{ url }}/js/jquery.mask.min.js"></script>

<!-- Custom JavaScript -->
<script src="{{ url }}/js/main.js"></script>